.slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slider-inner {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slider-slide {
    border: 1px solid red;
    min-width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}